.coin_container {
	display: flex;
	justify-content: center;
	width: 100%;

	.coin_row {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 80px;
		border-bottom: 1px solid #2e2e2e;
		width: 75vw;
		padding: 0rem 2rem;

		&:hover {
			background: #171718;
			color: #fff;
		}
	}

	.coin {
		display: flex;
		align-items: center;

		.coin_position {
			margin-right: 25px;
			font-size: 16px;
		}
		.coin__img {
			height: 100px !important ;
			background-color: #13c783;
			// display: none !important ;
		}

		.coin_h1 {
			font-size: 16px;
			width: 150px;
			padding-left: 20px;
		}

		.coin_symbol {
			text-transform: uppercase;
			padding-left: 20px;
		}
	}

	.coin_data {
		display: flex;
		text-align: right;
		justify-content: space-between;
		width: 100%;

		.coin_price {
			width: 110px;
		}

		.coin_volume {
			width: 155px;
		}

		.coin_marketcap {
			width: 230px;
		}

		.coin_percent {
			width: 100px;
		}

		.red {
			color: #f00606;
		}

		.green {
			color: #13c783;
		}
	}
}

@media screen and (max-width: 1130px) {
	.coin_container {
		.coin_row {
			width: 90vw;
			padding: 0rem 2rem;
		}
	}
}
@media screen and (max-width: 900px) {
	.coin_container {
		.coin_h1 {
			display: none;
		}
	}
}

@media screen and (max-width: 770px) {
	.coin_container {
		.coin_marketcap {
			display: none;
		}
	}
}

@media screen and (max-width: 520px) {
	.coin_container {
		.coin_volume {
			display: none;
		}

		.coin {
			.coin__img {
				display: none !important ;
			}
		}
	}
}
